@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.ac
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;    
    
    
   
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}
#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;}
section{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #2c2f48;
    place-items: center;
}
.contact-container{
    max-width: 960px;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    background: #363953;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    overflow: hidden;
}
.form-container{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 10px;

}
.form-container h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}
.contact-form{
    display: grid;
    row-gap: 1rem;
}
.contact-form input,textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #2c2f48;
    padding: 10px;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.9rem;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form .send-button{
    border: none;
    outline: none;
    background: #00dbde;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.map iframe{
    width: 100%;
    height: 100%;
}
#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: auto;
    padding:0px 30px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}
@media (max-with:964px) {
    .contact-container{
        margin: 0 auto;
        width: 90%;
    }
}