 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
        font-family:'Poppins', sans-serif;
        cursor: pointer;
    }    
body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: brown;
    line-height: 1.5;
}
#wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;    
    
    
   
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
    font-size: 18px;
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}

.products{
    margin-top: 80px;
}

h3{
    font-size: 24px;
    color: brown;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: flex;
    color: blueviolet;
}

ul.products {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li {
    flex-basis: 33%;
}

ul.products li img {
    max-width: 100%;
    height: auto;
}
ul.products li .product-top{
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb
{
    display: block;
}
ul.products li :hover .product-top .product-thumb img{
    filter: opacity(80%);
}
ul.products li .product-top .product-thumb img{
    display: block;
    font-family:'Poppins', sans-serif;
    margin-top:10px;

}
ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    bottom: -50px;
    width: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0.85;
}
ul.products li :hover a.buy-now{
    bottom: 0px;
}
ul.products li .product-info{
    padding: 15px 0px;
}
ul.products li .product-info a {
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.product-cat {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    padding: 3px 0px;
}

ul.products li .product-info .product-price {
    color: blue;
    padding: 2px 0px;
    font-weight: 600;
}
#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 350px;
    font-size: 18px;
    margin-top:60px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
    text-align:justify;
    
}
.box h3{
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
   padding: 0;
}
.box p{
    font-size: 18px;
}

#footer .box .quick-menu {
    margin-top:40px;

}

#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}


#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}
